In [33]:
import pandas as pd
from category_encoders import TargetEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_percentage_error

# Load data
df_train = pd.read_csv('../datasets/mod_04_hw_train_data.csv')
df_train

,Name,Phone_Number,Experience,Qualification,University,Role,Cert,Date_Of_Birth,Salary
0,Jennifer Hernandez,120-602-1220,3.0,Msc,Tier2,Mid,Yes,25/08/1972,98000
1,Timothy Walker,840-675-8650,5.0,PhD,Tier2,Senior,Yes,03/12/2013,135500
2,David Duran,556-293-8643,5.0,Msc,Tier2,Senior,Yes,19/07/2002,123500
3,Gloria Ortega,463-559-7474,3.0,Bsc,Tier3,Mid,No,19/02/1970,85000
4,Matthew Steele,968-091-7683,5.0,Bsc,Tier2,Senior,Yes,20/02/1970,111500
...,...,...,...,...,...,...,...,...,...
244,Adam Graham,107-988-5466,3.0,PhD,Tier2,Mid,No,12/01/1993,103000
245,Christopher Brown,376-543-7355,3.0,Msc,Tier1,Junior,Yes,26/08/2001,76500
246,Emily Brown,553-413-5579,5.0,Bsc,Tier1,Senior,Yes,08/02/1980,107500
247,Mrs. Audrey Ware,578-962-7818,5.0,PhD,Tier3,Senior,No,11/10/1998,134500
248,Amanda Cooper,481-825-6149,4.0,Msc,Tier2,Senior,No,06/04/1993,112500

### –†–æ–∑–≥–ª—è–Ω—É–≤—à–∏ –æ—Å–Ω–æ–≤–Ω—ñ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–Ω—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ —Ü—å–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç—É –º–æ–∂–Ω–∞ –ø—Ä–∏–π—Ç–∏ –¥–æ –Ω–∞—Å—Ç—É–ø–Ω–∏—Ö –≤–∏—Å–Ω–æ–≤–∫—ñ–≤

1. –ó–Ω–∞—á–Ω–∞ –≤–∞—Ä—ñ–∞—Ç–∏–≤–Ω—ñ—Å—Ç—å –Ω–∞—Å—Ç—É–ø–Ω–∏—Ö –∫–æ–ª–æ–Ω–æ–∫: Name, Phone_Number, Date_Of_Birth
2. –ù–µ–∑–Ω–∞—á–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–∏—Ö –¥–∞–Ω–∏—Ö —É –∫–æ–ª–æ–Ω–∫–∞—Ö: Role, Experience, Cert, Qualification

* –î–ª—è –ø—ñ–¥–≥–æ—Ç–æ–≤–∫–∏ –¥–∞—Ç–∞—Å–µ—Ç—É –¥–æ –ø–æ–¥–∞–ª—å—à–æ–≥–æ –∞–Ω–∞–ª—ñ–∑—É –º–∏ –≤–∏–¥–∞–ª–∏–º–æ –º–∞–ª–æ—ñ–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω—ñ –∫–æ–ª–æ–Ω–∫–∏ —Ç–∞ –∑–∞–ø–∏—Å–∏ –∑ –ø—Ä–æ–ø—É—â–µ–Ω–∏–º–∏ –∑–Ω–∞—á–µ–Ω–Ω—è–º–∏.

In [34]:
df_train.drop(columns=['Name', 'Phone_Number', 'Date_Of_Birth'], inplace=True)
df_train.dropna(inplace=True)

### –ù–∞—Å—Ç—É–ø–Ω—ñ –∫—Ä–æ–∫–∏

* –†–æ–¥—ñ–ª–∏–º–æ –¥–∞–Ω—ñ –Ω–∞ —Ç—Ä–µ–Ω—É–≤–∞–ª—å–Ω—É —ñ —Ç–µ—Å—Ç–æ–≤—É –≤–∏–±—ñ—Ä–∫–∏
* –ó–∞–∫–æ–¥—É—î–º–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω—ñ —Ñ—ñ—á—ñ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é `Target Encoder`
* –ü—Ä–∏–≤–µ–¥–µ–º–æ –¥–∞–Ω—ñ –¥–æ —î–¥–∏–Ω–æ–≥–æ –º–∞—Å—à—Ç–∞–±—É
* –ù–∞—Ç—Ä–µ–Ω—É—î–º–æ –º–æ–¥–µ–ª—å —Ç–∞ –≤–∏–≤–µ–¥–µ–º–æ –º–µ—Ç—Ä–∏–∫–∏

In [39]:
categorical_columns = ['Qualification', 'University', 'Role', 'Cert']

# Define X and y
X = df_train.drop(columns=['Salary'])
y = df_train['Salary']

# –†–æ–∑—ñ–±—î–º–æ –¥–∞—Ç–∞—Å–µ—Ç –Ω–∞ —Ç—Ä–µ–Ω—É–≤–∞–ª—å–Ω—É —Ç–∞ —Ç–µ—Å—Ç–æ–≤—É –≤–∏–±—ñ—Ä–∫–∏
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# –ó–∞–∫–æ–¥—É—î–º–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω—ñ —Ñ—ñ—á—ñ
encoder = TargetEncoder(cols=categorical_columns)
encoder.set_output(transform='pandas')
X_train[categorical_columns] = encoder.fit_transform(X_train[categorical_columns], y_train)
X_test[categorical_columns] = encoder.transform(X_test[categorical_columns])

# –ü—Ä–∏–≤–µ–¥–µ–º–æ —ó—Ö –¥–æ —î–¥–∏–Ω–æ–≥–æ –º–∞—Å—à—Ç–∞–±—É
st_scaler = StandardScaler()
X_train = st_scaler.fit_transform(X_train)
X_test = st_scaler.transform(X_test)

# –¢—Ä–µ–Ω—É—î–º–æ –º–æ–¥–µ–ª—å
model = KNeighborsRegressor(n_neighbors=5)
model.fit(X_train, y_train)

# –†–æ–±–∏–º–æ –∑–∞–º—ñ—Ä–∏ –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω–æ—Å—Ç—ñ –º–æ–¥–µ–ª—ñ —ñ –≤–∏–≤–æ–¥–∏–º–æ –º–µ—Ç—Ä–∏–∫–∏
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mape = mean_absolute_percentage_error(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse:.4f}")
print(f"R¬≤ Score: {r2:.4f}")
print(f"Mean Absolute Percentage Error (MAPE): {mape:.4%}")

Mean Squared Error (MSE): 25162653.0612
R¬≤ Score: 0.9514
Mean Absolute Percentage Error (MAPE): 3.8659%

### –í–∏—Å–Ω–æ–≤–æ–∫ –ø–æ –º–µ—Ç—Ä–∏–∫–∞–º:
* MSE (20699795.92) ‚Äì —Å–µ—Ä–µ–¥–Ω—å–æ–∫–≤–∞–¥—Ä–∞—Ç–∏—á–Ω–∞ –ø–æ–º–∏–ª–∫–∞ –≤–∫–∞–∑—É—î –Ω–∞ –∑–Ω–∞—á–Ω—ñ –≤—ñ–¥—Ö–∏–ª–µ–Ω–Ω—è —É –∫–≤–∞–¥—Ä–∞—Ç—ñ, –∞–ª–µ –¥–ª—è –º–æ–¥–µ–ª—ñ KNN —Ü–µ –æ—á—ñ–∫—É–≤–∞–Ω–æ —á–µ—Ä–µ–∑ –º–∞—Å—à—Ç–∞–± –∑–∞—Ä–ø–ª–∞—Ç.
* R¬≤ Score (0.96) ‚Äì –¥—É–∂–µ –≤–∏—Å–æ–∫–µ –∑–Ω–∞—á–µ–Ω–Ω—è, —â–æ —Å–≤—ñ–¥—á–∏—Ç—å –ø—Ä–æ —Ç–µ, —â–æ –º–æ–¥–µ–ª—å –¥–æ–±—Ä–µ –ø–æ—è—Å–Ω—é—î –≤–∞—Ä—ñ–∞—Ü—ñ—é –∑–∞—Ä–ø–ª–∞—Ç –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –≤—Ö—ñ–¥–Ω–∏—Ö —Ñ—ñ—á.
* MAPE (3.54%) ‚Äì –Ω–∏–∑—å–∫–µ —Å–µ—Ä–µ–¥–Ω—î –∞–±—Å–æ–ª—é—Ç–Ω–µ –≤—ñ–¥—Ö–∏–ª–µ–Ω–Ω—è —É –≤—ñ–¥—Å–æ—Ç–∫–∞—Ö, —â–æ —Å–≤—ñ–¥—á–∏—Ç—å –ø—Ä–æ –≤–∏—Å–æ–∫—É —Ç–æ—á–Ω—ñ—Å—Ç—å –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω—å –≤—ñ–¥–Ω–æ—Å–Ω–æ —Ä–µ–∞–ª—å–Ω–∏—Ö –∑–∞—Ä–ø–ª–∞—Ç.

‚úÖ –ú–æ–¥–µ–ª—å –¥–æ–±—Ä–µ –ø—Ä–∞—Ü—é—î, —Ç–æ—á–Ω—ñ—Å—Ç—å –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω—å –≤–∏—Å–æ–∫–∞, –∞–ª–µ –≤–∞—Ä—Ç–æ –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —É–∑–∞–≥–∞–ª—å–Ω—é–≤–∞–Ω—ñ—Å—Ç—å –Ω–∞ –≤–∞–ª—ñ–¥–∞—Ü—ñ–π–Ω–∏—Ö –¥–∞–Ω–∏—Ö. üöÄ

In [40]:
df_valid = pd.read_csv('../datasets/mod_04_hw_valid_data.csv')

# –í–∏–¥–∞–ª—è—î–º–æ –º–∞–ª–æ—ñ–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω—ñ —Ñ—ñ—á—ñ —Ç–∞ —Ä—è–¥–∫–∏ –∑ –ø—Ä–æ–ø—É—â–µ–Ω–∏–º–∏ –∑–Ω–∞—á–µ–Ω–Ω—è–º–∏
df_valid.drop(columns=['Name', 'Phone_Number', 'Date_Of_Birth'], inplace=True)
df_valid.dropna(inplace=True)

# –†–æ–∑—ñ–±—î–º–æ –¥–∞—Ç–∞—Å–µ—Ç –Ω–∞ —Ç—Ä–µ–Ω—É–≤–∞–ª—å–Ω—É —Ç–∞ —Ç–µ—Å—Ç–æ–≤—É –≤–∏–±—ñ—Ä–∫–∏
X_valid = df_valid.drop(columns=['Salary'])
y_valid = df_valid['Salary']

# –ó–∞–∫–æ–¥—É—î–º–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω—ñ —Ñ—ñ—á—ñ
X_valid_encoded = encoder.transform(X_valid[categorical_columns])
X_valid[categorical_columns] = X_valid_encoded

# –ü—Ä–∏–≤–µ–¥–µ–º–æ —ó—Ö –¥–æ —î–¥–∏–Ω–æ–≥–æ –º–∞—Å—à—Ç–∞–±—É
X_valid = st_scaler.transform(X_valid)

# –†–æ–±–∏–º–æ –∑–∞–º—ñ—Ä–∏ –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω–æ—Å—Ç—ñ –º–æ–¥–µ–ª—ñ —ñ –≤–∏–≤–æ–¥–∏–º–æ –º–µ—Ç—Ä–∏–∫–∏
y_valid_pred = model.predict(X_valid)
mse_valid = mean_squared_error(y_valid, y_valid_pred)
r2_valid = r2_score(y_valid, y_valid_pred)
mape_valid = mean_absolute_percentage_error(y_valid, y_valid_pred)
print(f"Validation Mean Squared Error (MSE): {mse_valid:.4f}")
print(f"Validation R¬≤ Score: {r2_valid:.4f}")
print(f"Validation Mean Absolute Percentage Error (MAPE): {mape_valid:.4%}")

Validation Mean Squared Error (MSE): 116648571.4286
Validation R¬≤ Score: 0.5393
Validation Mean Absolute Percentage Error (MAPE): 10.7937%

### –í–∏—Å–Ω–æ–≤–æ–∫ –ø–æ –≤–∞–ª—ñ–¥–∞—Ü—ñ–π–Ω–∏—Ö –º–µ—Ç—Ä–∏–∫–∞—Ö:
* MSE ‚Äì –∑–Ω–∞—á–Ω–æ –±—ñ–ª—å—à–µ, –Ω—ñ–∂ –Ω–∞ —Ç–µ—Å—Ç–æ–≤–∏—Ö –¥–∞–Ω–∏—Ö, —â–æ –≤–∫–∞–∑—É—î –Ω–∞ –≤–µ–ª–∏–∫—É –ø–æ–º–∏–ª–∫—É –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω—å —Ç–∞ –º–æ–∂–ª–∏–≤–∏–π –ø—Ä–æ–±–ª–µ–º–∏ –∑ —É–∑–∞–≥–∞–ª—å–Ω–µ–Ω–Ω—è–º.
* R¬≤ Score (0.53) ‚Äì —Ä—ñ–∑–∫–µ –ø–∞–¥—ñ–Ω–Ω—è –ø–æ—Ä—ñ–≤–Ω—è–Ω–æ –∑ —Ç—Ä–µ–Ω—É–≤–∞–ª—å–Ω–∏–º–∏ –¥–∞–Ω–∏–º–∏ (–±—É–ª–æ 0.95), —â–æ –æ–∑–Ω–∞—á–∞—î, —â–æ –º–æ–¥–µ–ª—å –ø–æ–≥–∞–Ω–æ –ø–æ—è—Å–Ω—é—î –≤–∞—Ä—ñ–∞—Ü—ñ—é –∑–∞—Ä–ø–ª–∞—Ç —É –≤–∞–ª—ñ–¥–∞—Ü—ñ–π–Ω–æ–º—É –Ω–∞–±–æ—Ä—ñ.
* MAPE (10.7937%) ‚Äì –∑–Ω–∞—á–Ω–æ –≤–∏—â–µ, –Ω—ñ–∂ –Ω–∞ —Ç–µ—Å—Ç–æ–≤–∏—Ö –¥–∞–Ω–∏—Ö (–±—É–ª–æ 3.86%), —â–æ –≤–∫–∞–∑—É—î –Ω–∞ –≤–∏—Å–æ–∫–∏–π —Ä—ñ–≤–µ–Ω—å –ø–æ–º–∏–ª–∫–∏ —É –≤—ñ–¥—Å–æ—Ç–∫–∞—Ö.
* –°–ø—Ä–æ–±–∏ –¥–æ–¥–∞—Ç–∏ PowerTransformer –¥–æ Salary –Ω–µ –¥–∞–ª–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É —ñ –Ω–∞–≤—ñ—Ç—å –¥–µ—â–æ –ø–æ–≥—ñ—Ä—à–∏–ª–∏ –º–µ—Ç—Ä–∏–∫–∏ –≤–∞–ª—ñ–¥–∞—Ü—ñ–π–Ω–∏—Ö –¥–∞–Ω–∏—Ö
* –¢–∞–∫–æ–∂ —Å–ø—Ä–æ–±–∏ –ø—ñ–¥—ñ–±—Ä–∞—Ç–∏ –∫—Ä–∞—â—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é GridSearch –Ω–µ –¥–∞–ª–∏ –ø—Ä–∏—Ä–æ—Å—Ç—É –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω–æ—Å—Ç—ñ